.custom-footer-bg {
    background-color: #FA4300; /* background color */
    height:7vh;
}

.custom-footer-bg1 {
    background-color: #FFFFFF; /* background color */
    height: 20vh;
}
.custom-footer-bg2 {
    background-color: #9C9CA6; /* background color */
    height: 8vh;
}
.compressed-image {
    width: auto; /* Set the width to 100% to ensure it fills the parent container */
    height: auto; /* Maintain the aspect ratio */
    max-width: 100%; /* Limit the maximum width to 100% of its parent container */
    max-height: 100%; /* Limit the maximum height to 100% of its parent container */
    margin-left: 3vw;
}
